@import "../common/variables";

.classroom {
  #amplify-code-editor,
  #console {
    height: calc(100vh - #{$menuHeight}) !important;
  }

  #console {
    margin-bottom: 0;

    .message {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .run-code-wrapper,
  #submit-code {
    top: .4rem;
    z-index: 1200;
    padding: .5rem 1rem;
    background-color: #142b46;
    width: 100vw;
  }
}
