// Import general variables
@import "_variables.sass"

// Put Bootstrap custom variables here
$font-size-base: 1.1rem

// Bootstrap Required
@import "../../node_modules/bootstrap/scss/_functions.scss"
@import "../../node_modules/bootstrap/scss/_variables.scss"
@import "../../node_modules/bootstrap/scss/_mixins.scss"

// Bootstrap Optional
@import "../../node_modules/bootstrap/scss/_reboot.scss"
@import "../../node_modules/bootstrap/scss/_type.scss"
@import "../../node_modules/bootstrap/scss/_images.scss"
@import "../../node_modules/bootstrap/scss/_code.scss"
@import "../../node_modules/bootstrap/scss/_grid.scss"
@import "../../node_modules/bootstrap/scss/_utilities.scss"
@import "../../node_modules/bootstrap/scss/_buttons.scss"
@import "../../node_modules/bootstrap/scss/_forms.scss"
@import "../../node_modules/bootstrap/scss/_nav.scss"
@import "../../node_modules/bootstrap/scss/_navbar.scss"
@import "../../node_modules/bootstrap/scss/_card.scss"

// Put Bootstrap additions here
.conditional-feedback
  @extend .invalid-feedback
  display: block
  color: $text-muted

.invalid-tooltip, .valid-tooltip
  top: -.5rem
  left: 102%
  width: 14rem
  max-width: 14rem

.valid-tooltip
  top: .1rem
  width: 5rem
  max-width: 5rem

// Put global styles and resets here
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.amplify-app
  .top-page-content
    height: $menuHeight
    background-color: #496a8e
    .nav
      .nav-link, .nav-link:active, .nav-link:link
        color: #FFEFFF
      .nav-link:hover
        color: #a9a9a9
  .content
    //padding: 1rem
    height: calc(100vh - 45px)
  > footer
    position: absolute
    width: 100vw
    bottom: 0
    margin-top: -1.2rem
    font-size: .8rem
    display: flex
    justify-content: center
    flex-direction: row
    a, a:visited, a:hover, a:link, span
      color: #212529
    a
      margin-right: 3rem